#container-nav {
    padding: 0;
    border-bottom: 1px solid #6c757d
}
#main-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bordered {
    border: 1px solid #6c757d;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.space-around {
    justify-content: space-around;
}