.img-perfil {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 0 10px;
    border: 3px solid rgb(247, 20, 20);
}

.btn-sair-sistema {
    white-space: nowrap;
    transform: translate(-3%, 4%);
}
